Repository polygon-software/flox, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, backend, tests, ios/android, ssr, pwa, ci/cd, components, modules

.github/labeler.yml:

docs:
  - docs/**/*

frontend:
  - frontend/**/*
  - shared/**/*

backend:
  - backend/**/*
  - shared/**/*

tests:
  - frontend/test/**/*
  - backend/test/**/*

ios/android:
  - frontend/src-capacitor/**/*

ssr:
  - frontend/src-ssr/**/*

pwa:
  - frontend/src-pwa/**/*

ci/cd:
  - .github/**/*

components:
  - frontend/src/components/**/*

modules:
  - backend/src/modules/**/*

break linter
  frontend/src/App.vue
Labels: frontend

Added editorconfig
  .editorconfig
  .github/workflows/reviewdog.yml
Labels: ci/cd

Trigger linter
  backend/src/main.ts
  frontend/src/App.vue
Labels: frontend, backend

company Application Table fix
  backend/src/modules/company/company.service.ts
  backend/src/modules/company/dto/input/update-company.input.ts
  backend/src/modules/company/entities/company.entity.ts
  backend/src/modules/file/file.controller.ts
  backend/src/modules/user/entities/user.entity.ts
  backend/src/schema.gql
  frontend/src/components/dialogs/SignUpApplicationDialog.vue
  frontend/src/components/tables/CompanyApplicationTable.vue
  frontend/src/data/ENUM/ENUM.ts
  frontend/src/data/mutations/COMPANY.ts
  frontend/src/data/queries/QUERIES.ts
  frontend/src/data/types/Company.ts
  frontend/src/i18n/de/index.ts
  frontend/src/i18n/en/index.ts
  frontend/src/pages/DocumentUploadPage.vue
  frontend/src/pages/ManagementDashboard.vue
  frontend/src/pages/ManagementDashboardPage.vue
  frontend/src/services/RouterService.ts
Labels: frontend, backend, components, modules

*** Sonar Cloud
  backend/src/auth/authService.ts
Labels: backend

Update reviewdog token
  .github/workflows/reviewdog.yml
Labels: ci/cd

Sharing setup
  backend/src/ENUM/ENUM.ts
  frontend/src/boot/apollo.ts
  frontend/tsconfig.json
  shared/tsconfig.json
Labels: frontend, backend

Add require JSDocs
  backend/.eslintrc.js
  frontend/.eslintrc.js
Labels: frontend, backend

Create issues for todos
  .github/workflows/todo-to-issue.yml
Labels: ci/cd

testing out pre-commit
  backend/package.json
  backend/yarn.lock
Labels: backend

added branch linting
  .github/pull_request_template.md
Labels: ci/cd

testing out pre-commit
  .github/workflows/semantic-pr.yml
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Labels: frontend, backend, ci/cd

Update dependencies
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Labels: frontend, backend

Added description of how to use sonarlint in webstorm
  README.md
Labels: none

Remove reviewdog token
  .github/workflows/reviewdog.yml
Labels: ci/cd

Update workflow names
  .github/workflows/label-pr.yml
  .github/workflows/reviewdog.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/todo-to-issue.yml
Labels: ci/cd

JSDocs setup
  backend/.eslintrc.js
  frontend/.eslintrc.js
Labels: frontend, backend

Set up testing in frontend
  frontend/.babelrc
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package.json
  frontend/quasar.extensions.json
  frontend/quasar.testing.json
  frontend/src-capacitor/package.json
  frontend/src/helpers/generator-helpers.spec.ts
  frontend/src/helpers/generator-helpers.ts
  frontend/test/jest/.eslintrc.js
  frontend/test/jest/.gitignore
  frontend/yarn.lock
Labels: frontend, tests, ios/android

add a backend test
  backend/src/item/item.resolver.spec.ts
  backend/src/item/item.service.spec.ts
  backend/src/user/user.resolver.spec.ts
  backend/src/user/user.service.spec.ts
Labels: backend

Caching fix
  backend/src/ENUM/ENUM.ts
  frontend/src/apollo/index.ts
Labels: frontend, backend

Status chips
  frontend/src/apollo/index.ts
  frontend/src/components/table/MyProductsTable.vue
  frontend/src/i18n/de/index.ts
  frontend/src/i18n/en/index.ts
Labels: frontend, components

Fix caching issue
  frontend/src/apollo/index.ts
  frontend/src/data/mutations/PRODUCT.ts
  frontend/src/data/queries/QUERIES.ts
  frontend/src/helpers/data-helpers.ts
Labels: frontend

More caching changes
  frontend/src/apollo/index.ts
Labels: frontend

Filtering, cleanup
  frontend/src/i18n/de/index.ts
  frontend/src/i18n/en/index.ts
  frontend/src/pages/MyProductsPage.vue
Labels: frontend

Editing setup
  frontend/src/components/table/MyProductsTable.vue
  frontend/src/pages/ProductUploadPage.vue
Labels: frontend, components

Fix PR Issues
  README.md
  backend/src/main.ts
Labels: backend

Added more validation rules
  .gitignore
  backend/src/ENUM/ENUM.ts
  frontend/.quasar/app.js
  frontend/.quasar/client-entry.js
  frontend/.quasar/client-prefetch.js
  frontend/src/data/RULES.ts
  frontend/src/helpers/REGEX.ts
  frontend/src/pages/ProductUploadPage.vue
Labels: frontend, backend

Fix
  .gitignore
  frontend/src/pages/ProductUploadPage.vue
  shared/definitions/ENUM.ts
Labels: frontend, backend
